.appointment-scheduler{
  padding-bottom: 19px;
}

.regular-button{
  color: black;
  background-color: white;
  font-size: 18px;
}
.red-button{
  color: white;
  background-color: red;
  font-size: 18px;
}


